html {
  height: 100%;
  
}
body {
    font-family: 'Calibri'; 
    height: 100%;
    background-color:#0e0e10 !important;
    width: 100%;
}
nav.navbar{
  
  background-color:#18181b !important;
}
p{
    text-align: center;
}
footer{
    text-align: center;
    position: fixed;
    bottom: 0;
}
h1{
    text-align: center;
}

.active, a.nav-link:hover, a.navbar-brand:hover {
    color:#9147ff !important;
}

ul{
    margin:0;
   }

nav ul { margin: 0; }

* {
    box-sizing: border-box;
  }
  .openBtn {
    display: flex;
    justify-content: left;
  }
  .openButton {
    border: none;
    border-radius: 5px;
    background-color: #9147ff;
    color: white;
    padding: 14px 20px;
    cursor: pointer;
    position: fixed;
  }

  .profileEditButton {
    border: none;
    border-radius: 5px;
    background-color: #9147ff;
    color: white;
    padding: 14px 20px;
    cursor: pointer;
  }
  .openLogin {
    border: none;
    border-radius: 5px;
    background-color: #9147ff;
    color: white;
    padding: 14px 20px;
    cursor: pointer;
    flex: 50%;
  }
  .openLogin2 {
    border: none;
    border-radius: 5px;
    background-color: #9147ff;
    color: white;
    padding: 14px 20px;
    cursor: pointer;
    flex: 50%;
  }
  .loginPopup {
    position: relative;
    text-align: center;
    width: 100%;
  }
  .formPopup {
    display: none;
    position: fixed;
    left: 50%;
    top: 5%;
    transform: translate(-50%, 5%);
    border: 3px solid #999999;
    z-index: 9;
  }
  .formPopup2 {
    display: none;
    position: fixed;
    left: 50%;
    top: 5%;
    transform: translate(-50%, 5%);
    border: 3px solid #999999;
    z-index: 9;
  }
  .formContainer {
    max-width: 300px;
    padding: 20px;
    background-color: #fff;
  }
  .formContainer input[type=text],
  .formContainer input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 20px 0;
    border: none;
    background: #eee;
  }
  .formContainer input[type=text]:focus,
  .formContainer input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  }
  .formContainer .btn {
    padding: 12px 20px;
    border: none;
    background-color: #9147ff;
    color: #fff;
    cursor: pointer;
    width: 100%;
    margin-bottom: 15px;
    opacity: 0.8;
  }
  .formContainer .cancel {
    background-color: #9147ff;
  }
  .formContainer .btn:hover,
  .openButton:hover {
    opacity: 0.75;
  }
  .openLogin:hover {
    opacity: 0.75;
  }

  .openBtn1{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px;
  }
  .openBtn{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
  }

  table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
  }
  th, td {
    padding: 5px;
    text-align: left;
  }

#change_findfriend
{
  border: none;
  border-radius: 5px;
  background-color: #9147ff;
  color: white;
  padding: 14px 20px;
  cursor: pointer;
}
#change_findfriend:hover {
  opacity: 0.75;
}

.profileEditButton:hover
{
  opacity: 0.75; 
}

.logincard{
  margin:0 auto;
  justify-content: center;
  align-items: center;
}
.container .row .sport_card{
  height: 32rem;
  width: 18rem;

}

.container .row .sport_card:hover{
  border-color: #8402af;
  transform: translate(6px, -6px);

}

.container .row .sport_card img{
  height: 25rem;
  width: 100%;
  object-position: center center;
  object-fit:cover;
  object-position: center center;
}

.ppcard
{
  object-fit:cover;
  object-position: center center;

}
.container .row .sport_card .card-body{
  padding-top: 0 !important;
}


#actiongames
{
  display:flex;
  flex-direction: row;
  overflow-x: scroll;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

#actiongames1
{
  display:flex;
  flex-direction: row;
  overflow-x: scroll;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

#actiongames2
{
  display:flex;
  flex-direction: row;
  overflow-x: scroll;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

#actiongames3
{
  display:flex;
  flex-direction: row;
  overflow-x: scroll;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.container .row .game_card{
  height: 32rem;
  width: 18rem;
}

.container .row .game_card:hover{
  overflow-x: 32rem;
  width: 18rem;
  border-color: #8402af;
  transform: translate(6px, -6px);
  color: #8402af;
}

.container .row .game_card .card-body{
  padding-top: 0 !important;
}

.container .row .game_card img{
  height: 25rem;
  width: 100%;
  object-position: center center;
  object-fit:cover;
}



.collapse .navbar-nav{
  width: 100%;
}


.dropdown-menu{
  min-width: 7px !important;
}


.container .row .cardwidth{
  background-color: #8402af;
  width: 18rem;
}

div form .btn{
  background-color: #9147ff;
}
div form .btn:hover{
  background-color: #8402af;
}

div div .longname{
  width: 9em; /* the element needs a fixed width (in px, em, %, etc) */
  overflow: hidden; /* make sure it hides the content that overflows */
  white-space: nowrap; /* don't break the line */
  text-overflow: ellipsis; /* give the beautiful '...' effect */
}

#deneme
{
  object-fit:contain;
}


.sharebtn-group button {
  color: white; /* White text */ 
  border: 1px solid #270135;
  padding: 10px 24px; /* Some padding */
  cursor: pointer; /* Pointer/hand icon */
  float: left; /* Float the buttons side by side */
}

/* Clear floats (clearfix hack) */
.sharebtn-group:after {
  content: "";
  clear: both;
  display: table;
}

.sharebtn-group button:not(:last-child) {
  border-right: none; /* Prevent double borders */
}

/* Add a background color on hover */
.sharebtn-group .shareP:hover {
  font-size: medium;
  opacity: 0.9;
}

.gamePhotoLeft
{
  max-width: max-content !important;
  margin-right: 30px ;
}

.catetype
{
  background-color: #bbbbbb;
  border-radius: 10px;
  padding: 0px 10px;
}

.catetype h6
{
  margin-top: 5px;
  margin-bottom: 5px;
}

.catetype:hover
{
  background-color: #dddddd;
}

.addReq
{
  background-color:#9147ff !important; 
  color:white !important; 
}
