{% extends "layout.html" %}
{% block title%} Games {% endblock %}
{% block username %}  <p>{{username}}</p> {% endblock %}
{% block content%}
    <h1 style="color:white;"><b> Games</b> </h1>


    <!--<div class="d-flex flex-row bd-highlight mb-3">
      <form class="form-inline my-2 my-lg-0" style="float: left;">
        <div class="p-2 bd-highlight"><p style="font-size:25px; color:white;"><b>Filtrele:</b></p></div>
        <div class="p-2 bd-highlight"><input class="form-control mr-sm-2" name="searchgame" type="search" placeholder="Ara" aria-label="Search"></div>
        <div class="p-2"><button class="btn cancel" type="submit" style="color:white;" name="filter_game">Search Game Category</button></div>
      </form>
    </div>-->

    {% if listCate %}
        <form action="" method="POST">
          <label for="game_types">Game Category</label>
          <select name="categories" id="game_types">
          <option value="All" name="game_cate">All Games</option>
      {% for i in range(0, lenAll) %}
            <option value="{{listCate[i][1]}}" name="game_cate">{{listCate[i][1]}}</option>
      {% endfor %}
          </select>
          <input type="submit" value="Submit" name="game_filter">
        </form>
    {% endif %}



    


    <div class="container">
      <div class="row"style="padding-top:20px;">
        {% if data%}
            {% for i in range(0, len) %}
              <div class="col-lg-2 ">
                <div class="cardwidth">
                    <div class="card bg-dark mb-4 game_card">
                        <a href="/games/{{data[i][0]}}">

                          <img class="card-img-top mx-auto" style="text-align:center;" src="{{ url_for('static', filename='/images/games/'+ data2[i]+'.jpg')}}" 
                            onerror="this.onerror=null; this.src='{{ url_for('static', filename='/images/404.jpg')}}'" alt="Card image cap">
                          
                          <div class="card-body">
                              <h4 class="card-title longname text-white">{{data[i][1]}}</h4>
                              {% if GameArray %}
                                <h6 id="homeGameType" class="text-muted">{{GameArray[i]}}</h6>
                              {% endif %}
                          </div>
                         </a>
                    </div>
                </div>
              </div>
            {% endfor %}
            <br>    
        {% endif %}
      </div>
    </div>

{% endblock %}
