{% extends "layout.html" %}
{% block title%} Home {% endblock %}
{% block username %}  <p>{{username}}</p> {% endblock %}
{% block content%}
{% block head%} 
    <script src="{{url_for('static', filename = 'myjavascript.js')}}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</script>
{% endblock%}


    <h1 style="color:white;"><b> Action Games</b> </h1>
    <div class="container">
      <div class="row">
        {% if actionGames%}
          <div id="actiongames">
            {% for i in range(0, lenA) %}
                <div class="col-lg-2 mb-2">
                  <div class="cardwidth">
                      <div class="card bg-dark mb-2 game_card">
                          <a href="/games/{{actionGames[i][0]}}">
                            <img class="card-img-top mx-auto" style="text-align:center;" src="{{ url_for('static', filename='/images/games/'+ actionGamesId[i]+'.jpg')}}" 
                              onerror="this.onerror=null; this.src='{{ url_for('static', filename='/images/404.jpg')}}'" alt="Card image cap">
                            
                            <div class="card-body" style="height:30px;">
                                <h4 class="card-title longname text-white">{{actionGames[i][1]}}</h4>
                                {% if cate %}
                                    <h6 class="text-muted">{{cate[i]}}</h6>
                                {% endif %}
                            </div>
                          </a>
                      </div>
                  </div>
                </div>
            {% endfor %}
          </div>
        {% endif %}
      </div>
    <button onclick="scrollleft()">Left</button>
      <button onclick="myFunction()">Right</button>
    </div>

    <h1 style="color:white;"><b> Sports</b> </h1>
    <div class="container">
      <div class="row">
        {% if SportsTable%}
          <div id="actiongames1">
            {% for i in range(0, lenSp) %}
                <div class="col-lg-2 mb-2">
                  <div class="cardwidth">
                    <div class="card bg-dark mb-2 sport_card">
                        <a href="/sports/{{SportsTable[i][0]}}">

                          <img class="card-img-top mx-auto" style="text-align:center;" src="{{ url_for('static', filename='/images/sports/'+ SportsId[i]+'.jpg')}}" 
                            onerror="this.onerror=null; this.src='{{ url_for('static', filename='/images/404.jpg')}}'" alt="Card image cap" >
                          
                          <div class="card-body" style="height:30px;">
                              <h4 class="card-title longname text-white">{{SportsTable[i][1]}}</h4>
                          </div>
                         </a>
                    </div>
                  </div>
                </div>
            {% endfor %}
                    <br>
          </div>
            <button onclick="scrollleft1()">Left</button>
            <button onclick="myFunction1()">Right</button>
        {% endif %}
      </div>
    </div>

    <h1 style="color:white;"><b> First Person Shooter Games</b> </h1>
    <div class="container" >
      <div class="row">
        {% if FPSGames%}
          <div id="actiongames2">
            {% for i in range(0, lenF) %}
                <div class="col-lg-2 mb-2">
                  <div class="cardwidth">
                      <div class="card bg-dark game_card">
                          <a href="/games/{{FPSGames[i][0]}}">
                            <img class="card-img-top" src="{{ url_for('static', filename='/images/games/'+ FPSGamesId[i]+'.jpg')}}" 
                            onerror="this.onerror=null; this.src='{{ url_for('static', filename='/images/404.jpg')}}'" alt="Card image cap">
                            
                            <div class="card-body" style="height:30px;">
                                <h4 class="card-title longname text-white">{{FPSGames[i][1]}}</h4>
                                {% if FPSArray %}
                                  <h6 id="homeGameType" class="text-muted">{{FPSArray[i]}}</h6>
                                {% endif %}
                            </div>
                          </a>
                      </div>
                  </div>
                </div>
            {% endfor %}
                      <br>
          </div>
          <button onclick="scrollleft2()">Left</button>
          <button onclick="myFunction2()">Right</button>
        {% endif %}
      </div>
    </div>


    <h1 style="color:white;"><b> Shooter Games</b> </h1>
    <div class="container">
      <div class="row" style="padding-top:0px;">
        {% if ShooterGames%}
          <div id="actiongames3">
            {% for i in range(0, lenS) %}
                  <div class="col-lg-2 mb-2 ">
                    <div class="cardwidth">
                      <div class="card bg-dark mb-2 game_card">
                          <a href="/games/{{ShooterGames[i][0]}}">
                            <img class="card-img-top mx-auto" style="text-align:center;" src="{{ url_for('static', filename='/images/games/'+ ShooterGamesId[i]+'.jpg')}}" 
                              onerror="this.onerror=null; this.src='{{ url_for('static', filename='/images/404.jpg')}}'" alt="Card image cap">
                            
                            <div class="card-body" style="height:30px;">
                                <h4 class="card-title longname text-white">{{ShooterGames[i][1]}}</h4>
                                {% if ShooterArray %}
                                  <h6 id="homeGameType" class="text-muted">{{ShooterArray[i]}}</h6>
                                {% endif %}
                            </div>
                          </a>
                      </div>
                    </div>
                  </div>
            {% endfor %}
                      <br>
          </div>
          <button onclick="scrollleft3()">Left</button>
          <button onclick="myFunction3()">Right</button>
        {% endif %}
      </div>
    </div>






    <p style="color:white;"   valign="bottom"> Sitemize toplam {{len}} Kayıtlı kullanıcı bulunmadıktadır.</p>
{% endblock %}
  </body>
</html>