{% extends "layout.html" %}
{% block title%} Index {% endblock %}
{% block username %}  <p>{{username}}</p> {% endblock %}
{% block content%}

<h1 style="color:white;"><b> {{ sport_name[0]}}</b> </h1>

{% if yok%}
<h1 style="color:white;"><b> {{yok}}</b> </h1>
{% endif%}



<div class="container">
    <div class="row" style="padding-top:20px;">
    {% if data%}
        {% for i in range(0, len) %}
            <div class="col-lg-12">
                <div class="card text-center">
                    <div class="card-header">
                      <img class="mr-3" style="float:left;" src="{{ url_for('static', filename='/images/user.jpg')}}" height="64px" width="64px" alt="Generic placeholder image">
                      <p style="float:left; padding-top:25px;">{{data[i][0]}} {{data[i][1]}}</p>
                    </div>
                    <div class="card-body">
                      <div class="media">
                        
                        <div class="media-body">
                          <!--<h5 class="mt-0" style="float:left; padding-top:50px;">{{data[i][0]}}{{data[i][1]}}</h5>-->
                          <p class="card-text">{{data[i][3]}}</p>
                          <a href="/sports/{{sport_ids}}/{{data[i][0]}}_{{data[i][1]}}" class="btn btn-warning btn-lg">İletişim Kur</a>
                        </div>
                      </div>
                      
                    </div>
                </div>
                <br><br>
            </div>
        
          

        {% endfor %}
    {% endif %}
    </div>
</div>


{% endblock%}