{% extends "layout.html" %}
{% block title%} Profile {% endblock %}
{% block username %}  <p>{{username}}</p> {% endblock %}
{% block content%}
{% with messages = get_flashed_messages() %}
	  {% if messages %}
	    {% for message in messages %}
		  <div class="alert alert-warning alert-dismissible" role="alert">
		  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
			{{message}}
		  </div>
		{% endfor %}
	  {% endif %}
	{% endwith %}


    <div class="col-lg-12 mb-5">
        {% if data%}
            <div class="card text-center mx-auto">
                <div class="card-header">
                    Profile
                </div>
                <div class="card-body">
                    <table class="table-sm mx-auto" style="width:auto;">
                        <tr>
                            <th> Profile Photo:</th>
                            <td>
                                <img class="card-img-top mx-auto" height="420px"   style="text-align:center; width:auto;" src="{{ url_for('static', filename='/images/users/'+ data2+'.jpg')}}" 
                                onerror="this.onerror=null; this.src='{{ url_for('static', filename='/images/users/user.jpg')}}'" alt="Card image cap">
                            </td>
                          
                             <form method="POST" enctype=multipart/form-data>
                                <input type="file" name="file">
                                <input type="submit" name="uphoto" value="Upload">
                            </form>
                            </td>
                        </tr>
                        <tr>
                            <th>Name:</th>
                            <td><p class="card-text">{{data[1]}}</td>
                        </tr>
                        <tr>
                            <th>Surname</p></th>
                            <td><p class="card-text">{{data[2]}}</p></td>
                        </tr>
                        <tr>
                            <th>School Number</p></th>
                            <td><p class="card-text">{{data[3]}}</p></td>
                        </tr>
                        <tr>
                            <th>E-mail</p></th>
                            <td><p class="card-text">{{data[4]}}</p></td>
                        </tr>
                    </table>
                    <br>
                    <div class="row flex-row mx-auto" >
                        <div class="">
                            <button class="profileEditButton" name="change_findfriend" id="changepassword" onclick="openForm2()">Reset Password</button>
                        </div>
                        <div class="">
                            <button class="profileEditButton" style="" onclick="openForm()"><strong>Edit Profile</strong></button>
                        </div>
                        <div class="">
                            <form action="" method="POST">
                                <input type="submit" name="change_findfriend" id="change_findfriend" Value="Find Friend">
                            </form>
                        </div>    
                    </div>
                        <div class="loginPopup">
                            <div class="formPopup" id="popupForm">
                                <form action="" method="POST" class="formContainer">
                                    <label for="email">
                                    <strong>Name</strong>
                                    </label>
                                    <input type="text" name="name" id="email" value="{{data[1]}}" placeholder="{{data[1]}}" required>
                                    <label for="email">
                                    <strong>Surname</strong>
                                    </label>
                                    <input type="text" name="surname" id="surname"value="{{data[2]}}"  placeholder="{{data[2]}}" required>
                                    <label for="email">
                                    <strong>School Number</strong>
                                    </label>
                                    <input type="text" name="school_number" id="school_number" value="{{data[3]}}" placeholder="{{data[3]}}" required>
                                    <label for="email">
                                    <strong>E-Mail</strong>
                                    </label>
                                    <input type="text" name="email" id="email" value="{{data[4]}}"  placeholder="{{data[4]}}" required><label for="email">
                                    <strong>Password</strong>
                                    </label>
                                    <input type="text" name="password" id="password"  placeholder="Password" required>
                                    <input type="submit" name="edit_profile" class="btn" Value="Send">
                                    <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
                                </form>
                            </div>
                        </div>

                        <div class="loginPopup">
                            <div class="formPopup2" id="popupForm2">
                                <form action="" method="POST" class="formContainer">
                                    <label for="email">
                                    <strong>Old Password</strong>
                                    </label>
                                    <input type="text" name="oldpassword" id="oldpassword" value=""  placeholder="" required><label for="email">
                                    <strong>New Password</strong>
                                    </label>
                                    <input type="text" name="password" id="password"  placeholder="" required>
                                    <strong>Confirm New Password</strong>
                                    </label>
                                    <input type="text" name="cpassword" id="cpassword"  placeholder="" required>
                                    
                                    <input type="submit" name="changepassword" class="btn" Value="Send">
                                    <button type="button" class="btn cancel" onclick="closeForm2()">Close</button>
                                </form>
                            </div>
                        </div>
                </div>

                
                {% if ff_send %}
                    <div class="card-footer text-muted">
                        Finding Friend : <span style="color:red; ">{{ff_send}}</span>
                    </div>
                {% endif %}
            </div>
        {% endif %}

    </div>

    <div class="card container mx-auto pt-5">
        <div class="row flex-row mx-auto">
            <form action="" method="POST">
                <input type="radio" id="games" name="posttype" value="games">
                <label for="games" class="mr-3">Games</label>
                <input type="radio" id="sports" name="posttype" value="sports">
                <label for="sports" class="mr-3">Sports</label>
                <input type="radio" id="allpost" name="posttype" value="allpost" checked="checked">
                <label for="other">All</label>
                <br><br>
                <input type="submit" name="getpost" id="change_findfriend" Value="Show Posts">
            </form>
        </div>
    </div>

    <div class="col-lg-12">
        {% if allUserPost%}
            <div class="container">
                <div class="row" style="padding-top:20px;">
                    {% if data%}
                        {% for i in range(0, lenallUserPost) %}
                            <div class="col-lg-12">
                                <div class="card text-center">
                                    <div class="card-header">
                                    {% if data2 %} 
                                        <img class="mr-3 align-middle ppcard" style="float:left;" src="{{ url_for('static', filename='/images/users/'+ UserPI[i]+'.jpg')}}" height="64px" width="64px"onerror="this.onerror=null; this.src='{{ url_for('static', filename='/images/users/user.jpg')}}'" alt="Card image cap">
                                    {% endif %} 
                                    <h4 style="float:left; padding-top:15px;">{{data[1]}} {{data[2]}}</h4>
                                    </div>
                                    <div class="card-body">
                                    <div class="media">
                                        <div class="media-body" >
                                        <h4 class="card-text">{{allUserPost[i][0]}}</h4>
                                        <br>
                                        </div>
                                        <br><br>
                                    </div>
                                        <div class="card-footer text-muted">
                                            {{allUserPost[i][2]}}
                                        </div>
                                    
                                    </div>
                                </div>
                                <br><br>
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        {% endif %}

    </div>

    <div class="col-lg-12">
        {% if allUserSportPost%}
            <div class="container">
                <div class="row" style="padding-top:20px;">
                    {% if data%}
                        {% for i in range(0, lenallUserSportPost) %}
                            <div class="col-lg-12">
                                <div class="card text-center">
                                    <div class="card-header">
                                    {% if data2 %} 
                                        <img class="mr-3 align-middle ppcard" style="float:left;" src="{{ url_for('static', filename='/images/users/'+ UserSportPI[i]+'.jpg')}}" height="64px" width="64px"onerror="this.onerror=null; this.src='{{ url_for('static', filename='/images/users/user.jpg')}}'" alt="Card image cap">
                                    {% endif %} 
                                    <h4 style="float:left; padding-top:15px;">{{data[1]}} {{data[2]}}</h4>
                                    </div>
                                    <div class="card-body">
                                    <div class="media">
                                        <div class="media-body" >
                                        <h4 class="card-text">{{allUserSportPost[i][0]}}</h4>
                                        <br>
                                        </div>
                                        <br><br>
                                    </div>
                                        <div class="card-footer text-muted">
                                            {{allUserSportPost[i][2]}}
                                        </div>
                                    
                                    </div>
                                </div>
                                <br><br>
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        {% endif %}

    </div>


 <script>
      function openForm() {
        document.getElementById("popupForm").style.display = "block";
      }
      function closeForm() {
        document.getElementById("popupForm").style.display = "none";
      }
      function openForm2() {
        document.getElementById("popupForm2").style.display = "block";
      }
      function closeForm2() {
        document.getElementById("popupForm2").style.display = "none";
      }
    </script>
{% endblock %}
