{% extends "layout.html" %}
{% block title%} Timeline {% endblock %}
{% block username %}  <p>{{username}}</p> {% endblock %}

{% block content%}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
$(document).ready(function(){
$("#listsport").hide();
$("#listgame").hide();

    

  $('#games').click(function () {
    var selectedValues = $.map($('#games option:selected'), function (element) {
      if(element.value == "SportType")
      {
        $("#listgame").hide();
        $("#listsport").show();
      }
      if(element.value == "GameType")
      {
        $("#listgame").show();
        $("#listsport").hide();
      }
      }); 
    });


  $("#showall").click(function(){
    $("#postsport").show();
    $("#postgame").show();
  });

    $("#showgame").click(function(){
    $("#postsport").hide();
    $("#postgame").show();
  });

  $("#showsport").click(function(){
    $("#postsport").show();
    $("#postgame").hide();
  });
});
</script>
</head>
<body>


 
<div class="sharebtn-group" style="width:100%">

  <button id="showall" style="background-color:#ac00e6; width:33.3%" class="shareP">
      All Posts
  </button>

  <button id="showsport" style="background-color:#ac00e6; width:33.3%" class="shareP" >
      Sport Posts
  </button>

  <button id="showgame" style="background-color:#ac00e6; width:33.3%" class="shareP">
      Game Posts
  </button>


</div>

<br><br>
  <button style="background-color:#ac00e6; color:white; margin: auto; position:flex; display:flex;" class="btn btn-lg" onclick="openForm()">
      Share Photo
  </button>


      <div class="loginPopup">
        <div class="formPopup" id="popupForm">
          <form action="" method="POST" class="formContainer" enctype=multipart/form-data>
            <h2>Enter Description your request</h2>
            <label for="email">
              <strong>Description</strong>
            </label>
            <textarea name="description" id="email" rows="8" cols="30" placeholder="Specify Your Request" required></textarea>
            <input type="file" name="file">
            <br>
            <br>

            <label for="post_types">Post Type: </label>
            <select name="postType" id="games">
            <option value="GameType" id="GameType" name="games">Games</option>
            <option value="SportType" id="SportType" name="sports">Sports</option>
            </select>

            <br>

            {% if Sports %}
              <div id="listsport">
                <label for="game_types">Sport: </label>
                <select name="sport_categories" id="sports">
                {% for i in range(0, lenSports) %}
                  <option value="{{Sports[i][1]}}" name="sports">{{Sports[i][1]}}</option>
                {% endfor %}
                </select>
              </div>
            {% endif %}

            {% if Games %}
              <div id="listgame">
                <label for="game_types">Games: </label>
                <select name="game_categories" id="games">
                {% for i in range(0, lenGames) %}
                  <option value="{{Games[i][1]}}" name="sports">{{Games[i][1]}}</option>
                {% endfor %}
                </select>
              </div>
            {% endif %}

            <input type="submit" name="sharePhoto" class="btn" Value="Send"></button>
            <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
          </form>
        </div>
      </div>


<!-- SPORT -->

<div class="container"  id="postsport">
    <div class="row" style="padding-top:20px;">
        <div class="col-lg-12">
        {% if data %}
            {% for i in range(0, lenAll) %}
                <div class="card text-center">
                    <div class="card-header">
                        <img class="mr-3 align-middle text-middle" style="float:left;"  src="{{ url_for('static', filename='/images/users/'+ data2[i]+'.jpg')}}" height="64px" width="64px"
                        onerror="this.onerror=null; this.src='{{ url_for('static', filename='/images/timeline/users/user.jpg')}}'" alt="Card image cap">
                        <p style="float:left; padding-top:25px;">{{data[i][2]}} {{data[i][3]}}</p>
                    </div>
                    <div class="card-body">
                        <table class="table-sm mx-auto ">
                            <tr>
                                <th><img class="mr-3 align-middle text-middle deneme" style="object-fit:cover;" src="{{ url_for('static', filename='/images/timeline/sports/'+data3[i]+'.jpg')}}" height="480px" width="720px" 
                        onerror="this.onerror=null; this.src='{{ url_for('static', filename='/images/timeline/users/user.jpg')}}'" alt="Card image cap"></th>
                            </tr>
                            <tr>
                                <th><p style="float:left;">Description: </p><p class="card-text">{{data[i][1]}}</p></th>
                            </tr>
                        </table>
                        
                    </div>
                    <div class="card-footer text-muted">
                                <p class="card-text">{{data[i][5]}}</p>
                    </div>
                </div>
                <br>
            {% endfor %}
        {% endif %}
        </div>
    </div>
</div>

<!-- END SPORT-->

<!-- GAME -->


<div class="container"  id="postgame">
    <div class="row" style="padding-top:20px;">
        <div class="col-lg-12">
        {% if data %}
            {% for i in range(0, lengameData) %}
                <div class="card text-center">
                    <div class="card-header">
                        <img class="mr-3 align-middle text-middle" style="float:left;"  src="{{ url_for('static', filename='/images/users/'+ GamePhotoId[i]+'.jpg')}}" height="64px" width="64px"
                        onerror="this.onerror=null; this.src='{{ url_for('static', filename='/images/timeline/users/user.jpg')}}'" alt="Card image cap">
                        <p style="float:left; padding-top:25px;">{{gameData[i][2]}} {{gameData[i][3]}}</p>
                    </div>
                    <div class="card-body">
                        <table class="table-sm mx-auto ">
                            <tr>
                                <th><img class="mr-3 align-middle text-middle deneme" style="object-fit:cover;" src="{{ url_for('static', filename='/images/timeline/games/'+SharedGamePhotoId[i]+'.jpg')}}" height="480px" width="720px" 
                        onerror="this.onerror=null; this.src='{{ url_for('static', filename='/images/timeline/users/user.jpg')}}'" alt="Card image cap"></th>
                            </tr>
                            <tr>
                                <th><p style="float:left;">Description: </p><p class="card-text">{{gameData[i][1]}}</p></th>
                            </tr>
                        </table>
                        
                    </div>
                    <div class="card-footer text-muted">
                                <p class="card-text">{{gameData[i][5]}}</p>
                    </div>
                </div>
                <br>
            {% endfor %}
        {% endif %}
        </div>
    </div>
</div>


<!-- END GAME-->
            
<script>
      function openForm() {
        document.getElementById("popupForm").style.display = "block";
      }
      function closeForm() {
        document.getElementById("popupForm").style.display = "none";
      }
    </script>
{% endblock %}
  </body>
</html>